<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="wrap">
    <div class="card">
      <div class="content">
        <div class="info-box">
          💡 Configure your delivery playlist name. The default name follows the pattern: delivery_YYYY-MM-DD_##
        </div>
        <form method="post" action="/submit_playlist_creation">

          <div>
            <button type="submit">Submit Playlist Cration</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
